html,body {
	height: 100%;
}

.body-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -63px;
	overflow-x: hidden;
}

.footer-container {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#317eac),
		color-stop(60%, #045FB4), to(#022f5a));
	background-image: -webkit-linear-gradient(#317eac, #045FB4 60%, #022f5a);
	background-image: -moz-linear-gradient(top, #317eac, #045FB4 60%, #022f5a);
	background-image: linear-gradient(#317eac, #045FB4 60%, #022f5a);
	background-repeat: no-repeat;
	border-top: 1px solid #022241;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b',
		endColorstr='#ff033769', GradientType=0);
	filter: none;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	background-color: #317eac;
	border-color: #022f5a;
	color: #fff
}