@import 'bootstrap.min.css';

@import 'bootstrap-theme.css';

@import 'font-awesome.css';

@import 'wysiwyg-color.css';

html,body {
	height: 100%;
}

button, .btn {
	font-size : 28px;
}

button.navbar-toggle {
	height : 54px;
	width : 75px;
}

.navbar-toggle .icon-bar {
	width : 54px;
}

.body-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

.body-container {
	height: 100%;
}

.content-container {
	height: 100%;
	outline: none;
	margin-top: 20px;
}

.row {
	height: 100%;
}

.content-row-item {
	height: 100%;
}

.footer-container {
	/*
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ccefc),
		color-stop(60%, #c4c1fd), to(#ebf5fe));
	background-image: -webkit-linear-gradient(#9ccefc, #c4c1fd 60%, #ebf5fe);
	background-image: -moz-linear-gradient(top, #9ccefc, #c4c1fd 60%, #ebf5fe);
	background-image: linear-gradient(#9ccefc, #c4c1fd 60%, #ebf5fe);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b',
		endColorstr='#ff033769', GradientType=0);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	background-color: #9ccefc;
	color: #9ccefc
*/
	filter: none;
	border-top: 1px solid #022241;
	border-color: #022f5a;
	margin-top: 20px;
}

.btn-store {
	border-color: rgba(2, 47, 90, 0.3);
	margin: 4px;
}

.btn-store:hover,.btn-store:focus,.btn-store.active {
	border-color: rgba(2, 47, 90, 0.8);
}

#cnote-editor {
	resize: none;
	width: 100%;
	height: 100%;
  background-color: #fff;
  border-color-top: #022f5a !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  outline: none !important;
  -webkit-user-select:auto;
  -webkit-user-drag:auto;
  -webkit-user-modify:read-write;  
}

.navbar-header .btn:first-child {
	margin-left: 4px !important;
	color: #fff;
	border-color: #022f5a;
	background-color: transparent;
}

.navbar-header .btn:first-child:hover,.navbar-header .btn:first-child:focus,.navbar-header .btn:first-child:active
	{
	background-color: #022f5a !important;
}

.dropdown-menu li {
	margin-left: 4px;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div[data-role="editor-toolbar"] .caret {
	border-top-color: #2FA4E7;
}

.dropdown-menu a {
  cursor: pointer;
}

.watermark {
  opacity: .5;
}

.navbar-header .dropdown-menu > li.active,
.navbar-header .dropdown-menu > li.active:hover,
.navbar-header .dropdown-menu > li.active:focus {
  color: #555555;
  cursor: default;
  background-color: #033c73;
  border-bottom-color: transparent;
}